<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.server.mapper.IndexMapper">
    <insert id="insA" parameterType="map">
        insert into project_a.a (date, expense_and_income_number, inputMoney, details)
        values (#{date}, #{expense_and_income_number}, #{inputMoney}, #{details})
    </insert>
    <insert id="insB" parameterType="map">
        insert into project_a.b (date, expense, income, totleMoney)
        values (#{date}, 0, 0, income - expense)
    </insert>
    <resultMap id="MapA" type="com.project.server.Model.A">
        <id property="a_id" column="a_id"/>
        <id property="date" column="date"/>
        <id property="expense_and_income_number" column="expense_and_income_number"/>
        <id property="inputMoney" column="inputMoney"/>
        <id property="details" column="details"/>
        <id property="expense_and_income_name" column="expense_and_income_name"/>
    </resultMap>
    <select id="selectA" resultMap="MapA">
        select *
        from project_a.ns_del_data_expense_and_income_name
                 inner join
             project_a.a
             using (expense_and_income_number)
        where date = #{date}
        order by date desc,expense_and_income_number desc,inputMoney desc
    </select>
    <resultMap id="MapB" type="com.project.server.Model.B">
        <id property="b_id" column="b_id"/>
        <id property="date" column="date"/>
        <id property="expense" column="expense"/>
        <id property="income" column="income"/>
        <id property="totleMoney" column="totleMoney"/>
    </resultMap>
    <select id="selectB" resultMap="MapB">
        select *
        from project_a.b
        where date = #{date}
        order by date desc
    </select>
    <update id="updateData" parameterType="map">
        update project_a.b
        set expense    = #{AexM},
            income     = #{BinM},
            totleMoney = #{BinM} - #{AexM}
        where date = #{date}
    </update>
    <select id="find" resultMap="MapB">
        select *
        from project_a.b
        where date between #{DatePickerStart} and #{DatePickerEnd}
        order by date desc
    </select>
    <select id="findA" resultMap="MapA">
        select *
        from
        project_a.ns_del_data_expense_and_income_name
        inner join
        project_a.a
        using(expense_and_income_number)
        where date in
        <foreach item="item" collection="listDate" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by date desc,expense_and_income_number desc,inputMoney desc
    </select>
    <delete id="del" parameterType="map">
        delete
        from project_a.a
        where a_id = #{a_id}
    </delete>
    <update id="setUpdate" parameterType="map">
        update project_a.a
        set inputMoney    = #{inputMoney},
            details     = #{details}
        where a_id = #{a_id}
    </update>
</mapper>