<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.server.mapper.SetUpMapper">
    <select id="getTable" resultType="com.project.server.Model.TableName">
        select
            TABLE_NAME as tableName
        from
            Information_Schema.TABLES
        where
            TABLE_SCHEMA = 'project_a'
    </select>
</mapper>