<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.server.Mapper.W002Mapper">
    <resultMap id="W002" type="com.project.server.Model.GoW002">
        <id property="id" column="SINGLE_WORD_SINGLE_ID"/>
        <id property="INPUT_EN" column="INPUT_EN"/>
        <id property="INPUT_CN" column="INPUT_CN"/>
        <id property="singleWordVal" column="SINGLE_WORD_VAL"/>
        <id property="updateCount" column="UPDATE_COUNT"/>
    </resultMap>
    <select id="goW002_select" resultMap="W002">
        select *
        from interviewworks.w002
        where INPUT_EN = #{INPUT_EN}
    </select>
    <insert id="goW002_insert">
        insert into interviewworks.w002(INPUT_EN, INPUT_CN, SINGLE_WORD_VAL, UPDATE_COUNT)
        values (#{INPUT_EN}, #{INPUT_CN}, #{singleWordVal}, 0)
    </insert>
    <update id="goW002_modify">
        update interviewworks.w002
        set INPUT_EN = #{INPUT_EN},
            INPUT_CN = #{INPUT_CN},
            SINGLE_WORD_VAL = #{singleWordVal},
            UPDATE_COUNT = UPDATE_COUNT + 1
        where INPUT_EN = #{INPUT_EN}
    </update>
    <select id="goW002_selectAll" resultMap="W002">
        select *
        from interviewworks.w002
    </select>

</mapper>


