<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.server.Mapper.W002Mapper">
    <select id="select" resultType="map">
        select IFNULL(active_w001.accountNumber, #{accountNumber})          as accountNumber,
               IFNULL(active_w001.dataNumber, #{dataNumber})                as dataNumber,
               count(*)                                                     as count,
               IFNULL(sum(money), 0)                                        as sum,
               IFNULL(SUBSTRING_INDEX(CAST(AVG(money) AS CHAR), '.', 1), 0) as avg
        from (select *
              from interviewworks.w001
              where accountNumber = #{accountNumber}
                and type = #{type}) as active_w001
    </select>
    <resultMap id="W001" type="com.project.server.Model.W001">
        <id property="money" column="money"/>
        <id property="type" column="type"/>
        <id property="number" column="number"/>
        <id property="update_date" column="update_date"/>
        <id property="typeName" column="typeName"/>
    </resultMap>
    <select id="selectW001x" resultMap="W001">
        select *
        from interviewworks.w001,
             interviewworks.w001type
        where interviewworks.w001.`type` = interviewworks.w001type.typeNameNumber
          and w001.accountNumber = #{accountNumber}
          and type = #{type}
        order by number asc
    </select>
    <resultMap id="W001h" type="com.project.server.Model.W001h">
        <id property="money" column="money"/>
        <id property="type" column="type"/>
        <id property="number" column="number"/>
        <id property="update_time" column="update_time"/>
        <id property="update_cd" column="update_cd"/>
        <id property="typeName" column="typeName"/>
    </resultMap>
    <select id="selectW001h" resultMap="W001h">
        select *
        from interviewWorks.w001h,
             interviewworks.w001type
        where interviewworks.w001h.`type` = interviewworks.w001type.typeNameNumber
          and w001h.accountNumber = #{accountNumber}
          and type = #{type}
        order by update_time desc
    </select>
</mapper>